@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">"Calyscope": Your Comprehensive Market Insight Companion</h1>
    <p>Step into the world of market clarity with Calyscope. This state-of-the-art application provides a profound analysis of the market, competition, and suppliers. By integrating cartographic visuals with detailed tabular data, Calyscope ensures you get a panoramic view of the business landscape. Whether it's about identifying new market niches, understanding competitors, or sourcing the best suppliers, Calyscope delivers the insights right at your fingertips. Delve into comprehensive market reports, navigate through vibrant interactive maps, or tailor tabular views to align with your specific needs. With Calyscope, you're not just accessing data – you're experiencing market intelligence redefined.</p>
    <p><a href="https://calysteau.fr">Made by Calysteau</a>.</p>
</div>
